# Dependencies
node_modules/
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.iml
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
out/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# Android
*.apk
*.aab
*.iml
.gradle/
local.properties
.idea/
build/
captures/
.externalNativeBuild
.cxx/
