body {
  font-family: Arial;
  text-align: center;
  background: #0f0f0f;
  color: white;
  padding: 50px;
}

.card {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 20px;
}
